body {
    display: flex;
    flex-wrap: wrap;
  }

header {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 880px) {
    .project_list_1, .project_list_2, .project_list_3, .resume{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 30px;
    }

    .image_1, .image_2, .image_3, .image_4 {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }
}

@media screen and (max-width: 580px) {
    .header_title {
        font-size: 1.5em;
    }
}